{%extends "base.html" %} 
{%block content%} 

<section class="hero">
    <div class="hero-body">
        <p class="title">
           Contact  
        </p>
    </div>
    <hr>

    <div class="container">
        <div class="card">
            <div class="card-content">
                <hr>
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="/static/images/flask_small_icon.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4"> Contact Information </p>
                    </div>
                </div>

                <div class="content">
                    Welcome to Flask’s documentation. Get started with <a href="installation/#installation"><span
                        class="std std-ref">Installation</span></a>

                    and then get an overview with the <a href="quickstart/#quickstart"><span>Quickstart</span></a>.
                    There is also a
                    more detailed <a href="tutorial/#tutorial"><span>Tutorial</span></a> that shows how to create a
                    small but
                    complete application with Flask. Common patterns are described in the
                    <a href="patterns/#patterns"><span>Patterns for Flask</span></a> section. The rest of the docs
                    describe each component of
                    Flask in detail, with a full reference in the <a href="api/#api"><span>API</span></a> section.</p>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}

