{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}COVID-19{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="hero is-primary"> 
<br>
<br>
     <div class="container is-fluid">
	<div id="covid">
       <% coviddata.cases_time_series %> 	
         <div v-if="coviddata.length">
		<div class="b-table">
			 <div class="table-wrapper has-mobile-cards">
				 <table class="table is-fullwidth is-striped is-hoverable is-fullwidth" >
						 <thead>
							 <tr>
								 <th>State </th> 
								 <th>State </th> 
								 <th>Date </th> 
								 <th> Active Cases</th> 
								 <th> Hospitalized</th> 
								 <th> Recovered </th> 
								 <th> Death </th> 
							 </tr>
						 </thead>
						 <tbody>
							 <tr v-for="item in coviddata.cases_time_series" :key="item">
								 <td> I am here  <% item %> </td>
								 <td> <% item.date %> </td>
								<td>  <% item.positive %>  </td>
								  <td>  <% item.hospitalizedCurrently %>  </td>
								  <td>  <% item.recovered %>  </td>
								 <td>  <% item.death %>  </td>
							 </tr>
						</tbody>
				</table>
			</div>
			</div>
		</div>
	 </div>
    </div>
<br>
</section>

<br>
{% endblock %}
