{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<section class="hero is-primary is-fullheight">
	<div class="hero-body">
		<div class="container">
				<form action="" class="box" method="post">
			<div class="card">
				<form action="" class="box" method="post">
					<div class="field">
						<label for="title" class="label">Title</label>
							<div class="control">
								<input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" class="input" required>
							</div>
					</div> 
					<div class="field">
						<label for="" class="label">Body</label>
							<div class="control">
								<textarea class="textarea" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
							</div>
					</div>
			       <footer class="card-footer">
				<button  href="#" class="button is-success">Save</button>
				</footer>
				</form>
			<footer class="card-footer">
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <button class="button is-danger"  onclick="return confirm('Are you sure?');"> Delete</button>
  </form>
			</footer> 

			</div>
		</div>
	</div>
</section>

{% endblock %}
